scripts/automation/n8n-npm-daily.json
{
  "name": "NetWatch NPM Rapport Quotidien",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 8 * * *"
            }
          ]
        }
      },
      "id": "c3d4e5f6-0001-0001-0001-000000000001",
      "name": "Chaque jour 08h00",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "command": "python3 /home/ourslow/code/netwatch/scripts/automation/daily-npm-report.py --output /tmp/npm-today.json --no-color 2>&1; cat /tmp/npm-today.json"
      },
      "id": "c3d4e5f6-0002-0002-0002-000000000002",
      "name": "Générer rapport NPM",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [460, 300]
    },
    {
      "parameters": {
        "jsCode": "// Parse la sortie de daily-npm-report.py\n// Le script imprime le JSON du rapport sur stdout après les logs stderr\nconst stdout = $input.item.json.stdout || '';\nconst exitCode = $input.item.json.exitCode ?? 0;\n\n// Extraire le JSON du rapport (dernière ligne JSON valide dans stdout)\nlet report = null;\nconst lines = stdout.split('\\n').filter(l => l.trim());\nfor (let i = lines.length - 1; i >= 0; i--) {\n  try {\n    const parsed = JSON.parse(lines[i]);\n    if (parsed && typeof parsed === 'object' && parsed.date) {\n      report = parsed;\n      break;\n    }\n  } catch (_) {}\n}\n\n// Tenter de lire /tmp/npm-today.json si le parse stdout échoue\nif (!report) {\n  try {\n    // Cherche un bloc JSON multi-ligne dans stdout\n    const jsonMatch = stdout.match(/{[\\s\\S]*\"date\"[\\s\\S]*}/);\n    if (jsonMatch) report = JSON.parse(jsonMatch[0]);\n  } catch (_) {}\n}\n\n// Rapport vide par défaut\nif (!report) {\n  report = {\n    date: new Date().toISOString().slice(0, 10),\n    generated_at: new Date().toISOString(),\n    window_hours: 24,\n    top_talkers: [],\n    rtt_p95_ms: null,\n    art_http_p95_ms: null,\n    dns_p95_ms: null,\n    total_bytes: 0,\n    bytes_variation_pct: null,\n    perf_alerts: { total: 0, critical: 0, high: 0, medium: 0 }\n  };\n}\n\n// Formatage date DD/MM/YYYY\nconst [year, month, day] = report.date.split('-');\nconst dateFR = `${day}/${month}/${year}`;\n\n// Top talker\nconst topTalker = (report.top_talkers || [])[0] || null;\nconst topTalkerIP = topTalker ? topTalker.ip : 'N/A';\nconst topTalkerBytes = topTalker ? topTalker.bytes : 0;\n\n// Formater les bytes en GB/MB\nfunction fmtBytes(b) {\n  if (!b || b === 0) return '0 B';\n  if (b >= 1e9) return `${(b / 1e9).toFixed(2)} GB`;\n  if (b >= 1e6) return `${(b / 1e6).toFixed(1)} MB`;\n  if (b >= 1e3) return `${(b / 1e3).toFixed(1)} KB`;\n  return `${b} B`;\n}\n\n// Icône statut RTT\nfunction rttStatus(ms) {\n  if (ms === null || ms === undefined) return 'N/A';\n  if (ms > 300) return `${Math.round(ms)}ms [✗]`;\n  if (ms > 150) return `${Math.round(ms)}ms [⚠]`;\n  return `${Math.round(ms)}ms [✓]`;\n}\n\n// Icône statut ART\nfunction artStatus(ms) {\n  if (ms === null || ms === undefined) return 'N/A';\n  if (ms > 500) return `${Math.round(ms)}ms [⚠]`;\n  return `${Math.round(ms)}ms [✓]`;\n}\n\n// Alertes perf\nconst pa = report.perf_alerts || {};\nconst alertTotal = pa.total || 0;\nconst alertCrit = pa.critical || 0;\nconst alertHigh = pa.high || 0;\n\nconsole.log(`[npm-daily] exitCode=${exitCode} | date=${report.date} | alertes=${alertTotal}`);\n\nreturn [{\n  json: {\n    report,\n    dateFR,\n    topTalkerIP,\n    topTalkerBytesStr: fmtBytes(topTalkerBytes),\n    rttStr: rttStatus(report.rtt_p95_ms),\n    artStr: artStatus(report.art_http_p95_ms),\n    alertTotal,\n    alertCrit,\n    alertHigh,\n    exitCode,\n    hasErrors: exitCode !== 0\n  }\n}];"
      },
      "id": "c3d4e5f6-0003-0003-0003-000000000003",
      "name": "Parser le rapport NPM",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "jsCode": "// Construire la Teams Adaptive Card résumé NPM\nconst {\n  report, dateFR,\n  topTalkerIP, topTalkerBytesStr,\n  rttStr, artStr,\n  alertTotal, alertCrit, alertHigh\n} = $input.item.json;\n\nconst pa = report.perf_alerts || {};\nconst alertColor = alertCrit > 0 ? 'Attention' : alertHigh > 0 ? 'Warning' : 'Good';\nconst titleColor = alertCrit > 0 ? 'Attention' : 'Default';\n\n// Variation J-1\nlet varStr = 'N/A';\nif (report.bytes_variation_pct !== null && report.bytes_variation_pct !== undefined) {\n  const sign = report.bytes_variation_pct >= 0 ? '+' : '';\n  varStr = `${sign}${report.bytes_variation_pct.toFixed(1)}% vs J-1`;\n}\n\n// DNS p95\nconst dnsStr = report.dns_p95_ms !== null && report.dns_p95_ms !== undefined\n  ? `${Math.round(report.dns_p95_ms)}ms`\n  : 'N/A';\n\n// Top talkers list (top 3)\nconst talkers = (report.top_talkers || []).slice(0, 3);\nfunction fmtBytes(b) {\n  if (!b) return '0 B';\n  if (b >= 1e9) return `${(b / 1e9).toFixed(2)} GB`;\n  if (b >= 1e6) return `${(b / 1e6).toFixed(1)} MB`;\n  return `${(b / 1e3).toFixed(1)} KB`;\n}\nconst talkerFacts = talkers.length > 0\n  ? talkers.map((t, i) => ({ title: `#${i + 1}`, value: `${t.ip} — ${fmtBytes(t.bytes)}` }))\n  : [{ title: 'Top talkers', value: 'Aucune donnée' }];\n\nconst payload = {\n  type: 'message',\n  attachments: [\n    {\n      contentType: 'application/vnd.microsoft.card.adaptive',\n      content: {\n        '$schema': 'http://adaptivecards.io/schemas/adaptive-card.json',\n        type: 'AdaptiveCard',\n        version: '1.4',\n        body: [\n          {\n            type: 'TextBlock',\n            text: `📊 Rapport NPM — ${dateFR}`,\n            weight: 'Bolder',\n            size: 'Large',\n            color: titleColor,\n            wrap: true\n          },\n          {\n            type: 'FactSet',\n            facts: [\n              { title: 'Top talker', value: `${topTalkerIP} (${topTalkerBytesStr})` },\n              { title: 'Volume total', value: `${fmtBytes(report.total_bytes || 0)} ${varStr !== 'N/A' ? '(' + varStr + ')' : ''}`.trim() },\n              { title: 'RTT p95', value: rttStr },\n              { title: 'ART HTTP p95', value: artStr },\n              { title: 'DNS p95', value: dnsStr },\n              {\n                title: 'Alertes perf',\n                value: `${alertTotal} (${alertCrit} critical, ${alertHigh} high, ${pa.medium || 0} medium)`\n              }\n            ]\n          },\n          {\n            type: 'TextBlock',\n            text: 'Top 3 talkers (24h)',\n            weight: 'Bolder',\n            size: 'Small',\n            separator: true\n          },\n          {\n            type: 'FactSet',\n            facts: talkerFacts\n          }\n        ],\n        actions: [\n          {\n            type: 'Action.OpenUrl',\n            title: 'Ouvrir NetWatch',\n            url: 'http://localhost:5050'\n          }\n        ]\n      }\n    }\n  ]\n};\n\nreturn [{ json: payload }];"
      },
      "id": "c3d4e5f6-0004-0004-0004-000000000004",
      "name": "Construire carte Teams NPM",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.TEAMS_WEBHOOK_URL }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}"
      },
      "id": "c3d4e5f6-0005-0005-0005-000000000005",
      "name": "Envoyer rapport → Teams",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1120, 300]
    }
  ],
  "connections": {
    "Chaque jour 08h00": {
      "main": [
        [
          {
            "node": "Générer rapport NPM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Générer rapport NPM": {
      "main": [
        [
          {
            "node": "Parser le rapport NPM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parser le rapport NPM": {
      "main": [
        [
          {
            "node": "Construire carte Teams NPM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Construire carte Teams NPM": {
      "main": [
        [
          {
            "node": "Envoyer rapport → Teams",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": ""
  },
  "staticData": null,
  "tags": [
    { "name": "netwatch" },
    { "name": "npm" },
    { "name": "report" },
    { "name": "daily" },
    { "name": "teams" }
  ],
  "pinData": {},
  "versionId": "1"
}
