scripts/automation/n8n-escalade.json
{
  "name": "NetWatch Escalade Intelligente",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 5
            }
          ]
        }
      },
      "id": "b2c3d4e5-0001-0001-0001-000000000001",
      "name": "Toutes les 5 min",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "command": "python3 /home/ourslow/code/netwatch/scripts/automation/escalade.py --verbose 2>&1"
      },
      "id": "b2c3d4e5-0002-0002-0002-000000000002",
      "name": "Exécuter escalade.py",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [460, 300]
    },
    {
      "parameters": {
        "jsCode": "// Parse et log la sortie de escalade.py\nconst stdout = $input.item.json.stdout || '';\nconst stderr = $input.item.json.stderr || '';\nconst exitCode = $input.item.json.exitCode ?? 0;\n\n// Extraire les IPs escaladées depuis le stdout\nconst escaladeMatches = stdout.matchAll(/==> Escalade IP ([\\d.]+) \\| score (\\d+)\\/100/g);\nconst escaladedIPs = [];\nfor (const m of escaladeMatches) {\n  escaladedIPs.push({ ip: m[1], score: parseInt(m[2]) });\n}\n\n// Log résumé\nconst summaryMatch = stdout.match(/Résumé : (\\d+) IP\\(s\\) escaladée\\(s\\), (\\d+) ignorée/);\nconst escalated = summaryMatch ? parseInt(summaryMatch[1]) : 0;\nconst skipped = summaryMatch ? parseInt(summaryMatch[2]) : 0;\n\nconsole.log(`[escalade] exitCode=${exitCode} | escalated=${escalated} | skipped=${skipped}`);\nif (stderr) console.error('[escalade stderr]', stderr.substring(0, 500));\n\nreturn [{\n  json: {\n    stdout,\n    stderr,\n    exitCode,\n    escalated,\n    skipped,\n    escaladedIPs,\n    timestamp: new Date().toISOString(),\n    hasEscaladedIPs: escaladedIPs.length > 0\n  }\n}];"
      },
      "id": "b2c3d4e5-0003-0003-0003-000000000003",
      "name": "Parser output + log",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-escalade-001",
              "leftValue": "={{ $json.exitCode }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "b2c3d4e5-0004-0004-0004-000000000004",
      "name": "Erreur d'escalade ?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [900, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.TEAMS_WEBHOOK_URL }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ type: 'message', attachments: [{ contentType: 'application/vnd.microsoft.card.adaptive', content: { '$schema': 'http://adaptivecards.io/schemas/adaptive-card.json', type: 'AdaptiveCard', version: '1.4', body: [{ type: 'TextBlock', text: '⚠️ NetWatch Escalade — Erreur pipeline', size: 'Large', color: 'Attention', weight: 'Bolder', wrap: true }, { type: 'TextBlock', text: 'escalade.py a retourné un code non-nul. Vérifier les logs n8n.', wrap: true, isSubtle: true }, { type: 'FactSet', facts: [{ title: 'Exit code', value: String($json.exitCode) }, { title: 'Horodatage', value: $json.timestamp }] }] } }] }) }}"
      },
      "id": "b2c3d4e5-0005-0005-0005-000000000005",
      "name": "Alerte erreur → Teams",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1120, 200]
    },
    {
      "parameters": {},
      "id": "b2c3d4e5-0006-0006-0006-000000000006",
      "name": "Escalade OK — Stop",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [1120, 420]
    }
  ],
  "connections": {
    "Toutes les 5 min": {
      "main": [
        [
          {
            "node": "Exécuter escalade.py",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Exécuter escalade.py": {
      "main": [
        [
          {
            "node": "Parser output + log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parser output + log": {
      "main": [
        [
          {
            "node": "Erreur d'escalade ?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Erreur d'escalade ?": {
      "main": [
        [
          {
            "node": "Alerte erreur → Teams",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Escalade OK — Stop",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": ""
  },
  "staticData": null,
  "tags": [
    { "name": "netwatch" },
    { "name": "security" },
    { "name": "escalade" },
    { "name": "autoblock" }
  ],
  "pinData": {},
  "versionId": "1"
}
